{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Home - Mon livre d'or</h1>
    </div>

    <H5 style="text-align:center;margin-top:20%">Pour voir la liste, ajouter /article dans l'url</H5>

{% endblock %}